<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.bogdan.feastfordriver">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
            android:allowBackup="true"
            android:name=".FdApp"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity
                android:name=".activity.MainActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.login.SignInActivity"
                android:label="@string/title_activity_sign_in"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".activity.login.SignUpActivity"
                android:label="@string/title_activity_sign_up"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".activity.login.VerificationNumberActivity"
                android:label="@string/title_activity_sign_up"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".activity.login.VerificationCertificateActivity"
                android:label="@string/title_activity_sign_up"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".activity.delivery.DeliveryActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:launchMode="singleTask"/>
        <activity
                android:name=".activity.delivery.ShowDeliveryActivity"
                android:screenOrientation="portrait"
                android:label="@string/order"
                android:theme="@style/AppTheme.NoActionBar"/>
        <service
                android:name=".gps.DistanceTrackerService"
                android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.action_start_tracking"/>
                <action android:name="${applicationId}.action_stop_tracking"/>
                <action android:name="${applicationId}.action_broadcast_current_state"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyDs32sptKPLTe9WfINZ6jr-scuf2xV-LZo"/>
    </application>

</manifest>